* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #121214;
  --text-color: #f9f9f9;
  --border: 1px solid #a8a8b3;
  --news-title: #798595;
}

body {
  font-family: "Fira Code", monospace;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 1rem;
  /* overflow: hidden; */
}

input {
  background-color: transparent;
  border: var(--border);
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

i {
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  gap: 1rem;
  margin-bottom: 5rem;
}

main>section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: 1rem;
  /* overflow: auto; */
  margin-top: 0.5rem;
  width: 100%;
  max-height: 500px;
}

.news .title {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: var(--border);
}

.title i,
.title span {
  color: var(--news-title);
  font-size: 1.5rem;
  font-weight: 500;
}

.news>div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.row-news {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: var(--border);
  border-radius: 0.1rem;
  padding: 0.5rem;
  word-wrap: break-word;
}

.row-news:last-child {
  border-bottom: none;
}

.row-news p {
  font-size: 1rem;
}

footer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

@media (min-width: 390px) {
  main {
    height: 45vh;
  }

  main::-webkit-scrollbar {
    display: none;
  }

  input {
    width: 12rem;
    -webkit-text-size-adjust: none;
  }
}

@media (min-width: 920px) {
  main::-webkit-scrollbar {
    display: none;
  }

  input {
    width: 20rem;
  }
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.greeting-box {
  display: flex;
  gap: 0.8rem;
  text-align: center;
  padding: 10px;
}

.greeting-box p {
  font-size: 18px;
  margin: 5px 0;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 70%;
  }

  main {
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  input {
    width: 30rem;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #798595;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #798595;
  border-radius: 5px;
}